[submodule "build/extern/raylib"]
	path = build/extern/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "extern/raylib"]
	path = extern/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "extern/RaylibAdditions"]
	path = extern/RaylibAdditions
	url = https://github.com/SparklesReal/RaylibAdditions
[submodule "extern/libtinyfiledialogs"]
	path = extern/libtinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs
